* {
  margin: 0;
  padding: 0;
}

.page-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 200px auto 200px;
}

.main {
      display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}