* {
  margin: 0;
  padding: 0;
}

.page-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100px auto 100px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 3rem;
  padding: 4rem;
  overflow-y: auto;
}

.product-element {
  border: 1px red solid;
  /* width: 30%;
  max-width: 400px; */
}

.header,
.footer {
  border: 1px black solid;
}

/* utils */

.hidden {
  display: none;
}